@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {

        transform: translateX(0);
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {

        opacity: 1;
    }
}
.animate-up{
    animation: up 300ms backwards;
}
.animate-right{
    animation: right 300ms ;

}
.animate-appear{
    animation:  300ms ;
    animation-name: appear;
    animation-fill-mode: backwards;

}
