form {
	width: 70rem;
	margin: 6.4rem auto;
	background: $white;
	border: 1px solid #d3e2e5;
	border-radius: 2rem;
	overflow: hidden;
	padding: 8rem;
}
fieldset {
	border: 0;
	+ {
		fieldset {
			margin-top: 8rem;
		}
	}
	legend {
		width: 100%;
		font-size: 3.2rem;
		line-height: 1.5;
		color: #5c8599;
		font-weight: 700;
		border-bottom: 1px solid #d3e2e5;
		margin-bottom: 4rem;
		padding-bottom: 2.4rem;
	}
}
.input-block {
	+ {
		.input-block {
			margin-top: 2.4rem;
		}
	}
	label {
		color: #8fa7b3;
		margin-bottom: 0.8rem;
		line-height: 1.5;
		span {
			font-size: 1.4rem;
			color: #8fa7d3;
			margin-left: 2.4rem;
		}
	}
	input {
		width: 100%;
		background: #f5f8fa;
		border: 1px solid #d3e2e5;
		border-radius: 2rem;
		color: #5c8599;
		height: 6.4rem;
		padding: 0 1.6rem;
		&:valid {
			border: 1px solid #a1e9c5;
		}
	}
	textarea {
		width: 100%;
		background: #f5f8fa;
		border: 1px solid #d3e2e5;
		border-radius: 2rem;
		color: #5c8599;
		height: clamp(12rem, 16rem, 24rem);
		resize: vertical;
		padding: 1.6rem;
		line-height: 2.8rem;
		&:valid {
			border: 1px solid #a1e9c5;
		}
	}
}
.input-block.images {
	button {
		border: 1px dashed #96d2f0;
		width: 100%;
		background: #f5f8fa;
		height: 6.4rem;
		padding: 0 1.6rem;
		margin-top: 2.4rem;
		border-radius: 2rem;
		cursor: pointer;
	}
}
.new-upload {
	position: relative;
	+ {
		.new-upload {
			margin-top: 2.4rem;
		}
	}
	span {
		position: absolute;
		right: 1.2rem;
		bottom: 1.4rem;
		display: flex;
		background: #ffffff;
		border: .1rem solid #d3e2e5;
		border-radius: 10px;
		box-sizing: border-box;
		padding: 0.6rem;
		cursor: pointer;
	}
}
