.map-container {
	margin-top: 6.4rem;
	background: #e6f7fb;
	border: .1rem solid #dde3f0;
	border-radius: 2rem;
	footer {
		padding: 2rem 0;
		text-align: center;
		a {
			color: #0089a5;
			text-decoration: none;
			font-weight: 700;
		}
	}
	.leaflet-container {
		border-bottom: 1rem solid #dde3f0;
		border-radius: 2rem;
	}
}
#mapid {
	width: 100%;
	height: auto;
}