#page-create-orphanage {
	display: flex;
	min-height: 100vh;
    main {
        flex: 1;
        background: $light-background;
        #mapid {
            width: 100%;
            height: 28rem;
        }
        .map-container {
            margin: 0 0 4rem;
          }
          
          .map-container .leaflet-container {
            border-radius: 20px 20px 0 0;
          }
          
          .map-container footer {
            background-color: #f5f8fa;
            border-radius: 0 0 2.0rem 2.0rem;
          }
    }
  
}

