#page-orphanages {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .orphanages-img {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  /*Animação da imagem */
  @keyframes flash {
    0% {}
  
    50% {
      padding: 20px 25px;
    }
  
    100% {}
  }
  
  aside {
    width: clamp(24rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, $dark-blue, $dark-green 100%);
    padding: clamp(3rem, 5vw, 8rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    h2 {
      margin-top: 6.4rem;
      font: 800 (clamp(2rem, 5vw, 3.6rem) / 1.1) "Nunito", sans-serif;
    }
  
    p {
      margin-top: 2.4rem;
      font: 400 1.6rem/1.5 'Nunito', sans-serif;
    }
  
    footer p {
      margin-top: .8rem;
    }
  }
  
  #mapid {
    width: 100%;
    height: 100%;
    animation-delay: 200ms;
  }
  
  
  a.create-orphanage {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    z-index: 999;
    width: 6.4rem;
    height: 6.4rem;
    background:$blue;
    border: 0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
  
    &:hover {
      filter: brightness(.8);
    }
  }
  .leaflet-popup-content-wrapper{
    background: rgba(255,255,255,0.8);
    box-shadow: 17.2828px 27.65px 41.48px rgba(23,142,166,0.16);
    border-radius: 2rem;
  }
  .leaflet-popup-content{
    font: 700 2rem/1 'Nunito',sans-serif!important;
    color: $dark-blue;
    font-weight: 600;
    margin: .8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      width: 4rem;
      height: 4rem;
      background: $blue;
      box-shadow: 17.2828px 27.65px 41.48px rgba(23,142,166,0.16);
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color .2s;
      &:hover{
      filter: brightness(.9);
      }

    }
  }
  .leaflet-popup-tip{
display: none;
  }
/*   .leaflet-container{
    z-index: 5!important;
  }
 */