#page-landing {
	background: linear-gradient(329.54deg, $dark-blue 0%, $dark-green 100%) no-repeat;
	min-height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#container {
	margin: auto;
	width: MIN(90%, 112rem);
}
#logo {
	animation-delay: 50ms;
}
.location {
	animation-delay: 100ms;
}
main h1 {
	animation-delay: 150ms;
	font-size: clamp(4rem, 8vw, 8.4rem);
}
.visit p {
	animation-delay: 200ms;
}
.visit a {
	animation-delay: 250ms;
}
.location,
h1,
.visit p {
	height: 16vh;
}
.visit {
	p {
		height: 16vh;
	}
	a {
		width: 8rem;
		height: 8rem;
		background: $orange;
		border-radius: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		transition: all 400ms;
		&:hover {
			filter: brightness(0.9);
		}
	}
}
/* DESKTOP */
@media (min-width: 760px) {
	#page-landing {
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	#container {
		padding: 1rem 2rem;
		background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 37vw, 56rem);
	}	
	.location,
	h1,
	.visit p {
		height: initial;
		text-align: initial;
	}

	.location {
		text-align: right;
		font-size: 2.4rem;
		line-height: 1.5;
	}
	main h1 {
		width: MIN(300px, 80%);
		font-weight: bold;
		line-height: 0.88;
		margin: clamp(10%, 9vh, 12%) 0 4rem;
	}
	.visit {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-size: 2.4rem;
			line-height: 1.5;
			width: clamp(20rem, 20vw, 30rem);
		}
		a {
			margin: initial;
		}
	}
}
