$white: #ffff;
$orange: #ffd666;
$dark-green:#00c7c7;
$dark-blue:#29b6d1;
$blue:#15C3D6;
$blue-light:#12AFCB;
$dark-grey:#4d6f80;
$light-grey:#5c8599;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border: none;
    font-family: "Nunito", sans-serif;
}
:root {
    font-size: 62.5%;
}
body {
    height: 100vh;
    color: #EBF2F5;
}
body,
input,
button,
textarea {
    font: 400 1.8rem/1 "Nunito", sans-serif;
}


